#body {
	background-color: rgb(240, 242, 245);
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14px;
	width: 1200px;
	overflow: hidden;
	 
}

.s1 {
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	margin-left: 20px;
	display: block;
	margin-top: 20px;
}


#context {
	background-color: white;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	height: 500px;

}

#left {
	float: left;
	width: 200px;
	font-size: 20px;
	border-right: 1px solid rgb(235, 235, 235);
	height: 100%;

}

#left ul {
	list-style: none;
	padding-left: 10px;

}

#left ul li {
	padding-bottom: 20px;

}

#left ul li a {
	text-decoration: none;
	color: black;
	font-size: 16px;
}

#left ul li a:hover {
	color: royalblue;

}
#right {
	margin-left: 25px;
	float: left;

}
#ricon {
	margin-top: 25px;
	margin-left: 10px;
	font-size: 16px;
	width: 750px;

}

#ricon input {
	padding: 3px 2px 3px 12px;
	width: 481px;
	height: 37px;
	border-color: rgb(235, 235, 235); 
	 

}
#ricon input:focus {
	padding: 3px 2px 3px 12px;
	width: 481px;
	height: 37px;
	outline:1px solid rgb(235, 235, 235);

}
#ricon button {
	margin-left: 220px;
	height: 35px;
	width: 80px;
	background-color: #0084E9;
	border-color: #0084E9; 

}

#ricon button:focus{
	margin-left: 220px;
	height: 35px;
	width: 80px;
	background-color: #0084E9;
	outline:0
}

#ricon1 table {
	text-align: center;
	width: 750px;
	height: 220px;
	font-size: 16px;


}

#ricon1 table th {
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(250, 250, 250);


}

#ricon1 table td {

	border-top: 1px solid rgb(250, 250, 250);
	border-bottom: 1px solid rgb(250, 250, 250);

}

 

#rile {
	float: left;
	border-right: 1px solid rgb(250, 250, 250);
}

#rile hr {
	width: 1000px;
}

#riri {
	float: left;
	margin-top: 60px;
}

#rile {

	width: 350px;
	margin-top: 60px;
	margin-left: 100px;
}

#right2 {
	border: 1px solid rgb(250, 250, 250);
	margin-left: 25px;

}

#rile button {
	margin-left: 100px;
	height: 30px;
	width: 70px;
	background-color: #0084E9;
	color: white;
	border-radius: 10%;
}
