.qh{
    width: 1050px;
    height: 1200px;
    background-color: rgb(240,242,245);
    overflow: hidden;
}
.itemlist{
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}

.item{
    border: 1px solid white;
    background-color: white;
}
#main{
    margin-top: 20px;
    height: 400px;
}
#footer{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#footer .user{
    width: 400px;
    height: 400px;
}
#footer .sail{
    width: 400px;
    height: 400px;
}